.find_bud_btn{
    width: 100%;
    text-align: center; 
    font-size: 28px;
}

.find_bud_btn img{
    height: 35px;
}
.chat{ 
    height: 50px;
    text-align: left;
    padding-left: 10px; 
    padding-top: 5px;
    border: unset;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    background-color: #222;
    display: flex; 
    align-items: center;
}

.chat a{ 
    display: flex; 
    align-items: center;
    flex: 1; 
    color: #ddd; 
}
 
.propic{
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    vertical-align: center;
    text-align: center;  
    overflow: hidden;
}

.name{
    font-weight: bold;
    padding-left: 10px; 
}

.propic img{
    height: 100%;
}

.msg_time{
    margin-left: auto; 
    font-size: 12px;
    margin-right: 5px;
}

.sendIcon{
    height: 25px;
    filter: invert()
}

.noChats{ 
    text-align: center;
    margin-top: 100px;
}

.last_message{
    font-size: 12px;
    font-weight: 100;
    font-family:cursive;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
    color: #aaa;
}

.new_message{ 
    font-weight: 900;
    color: #fff;
}