.chat_small {
    height: 40px;
    padding-top: 1px;
    padding-bottom: 0px;  
    background-color: #0d6efd !important;
    border: none;
    color: #eee; 
}

.chat_small .propic {
    border-radius: 50%;
    height: 40px;

} 

.user {
    height: 40px;  
    margin-bottom: 5px;
}

.msg_box_flex {
    display: flex; 
}

.input_msg,
.send {
    border-radius: unset !important;
}

.messages {
    margin-bottom: auto; 
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
    column-gap: 20px;
    flex: 14;
    overflow-y: scroll;
}

.msg {
    padding: 5px;
    border-radius: 20px !important;
    width: max-content;
    max-width: 80%;

}

.s1 {
    background-color: white;
    color: #444;
    margin-left: 10px; 

}

.s2 {
    background-color: rgb(46, 46, 255);
    color: #ddd;
    margin-right: 10px;  
    margin-left: auto;

}