*{
  padding:0px;
  margin:0px;
  font-family: sans-serif, Arial, Helvetica;
}

html,body{
  background-color: #1B1B1D !important;
  overflow: hidden;
}

label{  
  margin:.8rem 0px 0px .8rem  !important;
  font-weight:400; 
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: none;
}

.sub-main{
  color:#8A9198;
  background-color: #323234; 
  height: 100%; 
  padding: 10px; 
}  

@media only screen and (min-width: 500px) {
  .sub-main {
    width: 350px;
    height: 500px;
    border-radius: 10px;
  }
}

#home{ 
  height: 80%;
  position: relative;
}

#home .bottom{
  position: absolute;
  bottom:0px;
  width: 100%;
}

#home  .welcome{
  color:#ddd;
}
 

