* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif, Arial, Helvetica;

}

body {
  background-color: #222;
}

html,
body,
#root,
.main {
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

#pages ::-webkit-scrollbar {
  width: 5px;
  background-color: #888;
}

/* Handle */
#pages ::-webkit-scrollbar-thumb {
  background: #eee;
}




label {
  margin: 0px 0px 0px 2px !important;
  font-weight: 400;
}

.main {
  color: #8A9198;
  background-color: #323234;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.main .nav {
  height: 40px;
}

.main #pages {
  flex-grow: 1;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
  .main {
    width: 100%;
    border-radius: unset;
  }

  #root {
    padding: 0px;
  }

  ::-webkit-scrollbar {
    width: 0px !important
  }
}

#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#home .welcome {
  color: #ddd;
}



.error span {
  color: rgb(255, 60, 60);
  font-size: .7rem;
  font-family: monospace;
  margin-left: 2px;
}

.error input {
  border: 2px solid rgb(255, 60, 60);
}


.nav #right img {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-left: 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

.nav #right>.active>img {
  background-color: rgb(0, 63, 122);
}

.nav {
  display: flex;
  justify-content: space-between;

}

.logo {
  filter: invert()
}


.profilePicPreview {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-size: contain;
  position: relative;
}

.profilePicPreview input {
  display: none;
}

.profilePicPreview img {
  width: 35px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  background-color: #555;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 3px;
}

.error .profilePicPreview {
  border: 3px solid red;
}

.navProPic {
  padding: unset !important;
  border-radius: 50% !important;
}